{% extends 'localisation/ajouter_region.html' %}

{% block modal-id %} id="regionModal{{region.id}}" {% endblock modal-id %}
{% block modal-label %}regionModalLabel{{region.id}}{% endblock modal-label %}
{% block modal-label2 %}regionModalLabel{{region.id}}{% endblock modal-label2 %}
{% block modal-titre %} Modifier une région {% endblock modal-titre %}
{% block action %} action="{% url 'localisation:modifier_region' %}" {% endblock action %}
{% block modifier-id %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input type="text" name="id" class="form-control" value="{{region.id}}" readonly >
    </div>
{% endblock modifier-id %}
{% block value-code %}value="{{region.code}}"{% endblock value-code %}
{% block value-libelle %}value="{{region.libelle}}"{% endblock value-libelle %}

{% block select-district %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="select_district{{region.id}}"><i class="fas fa-igloo"></i></label>
        </div>

        <select name="select_district" id="select_district{{region.id}}" class="form-control" required>
            <option value="" selected>---Sélectionnez un district---</option>
            {% for district in districts %}

                {% if district.id == region.district.id %}
                    <option value="{{district.id}}" selected>{{district.libelle}}</option>
                {% else %}
                    <option value="{{district.id}}" >{{district.libelle}}</option>
                {% endif %}

            {% endfor %}

        </select>
    </div>
{% endblock select-district %}

{% block btn-action %}<i class="fas fa-pen"></i> Modifier {% endblock btn-action %}