{% extends 'localisation/ajouter_commune.html' %}

{% block modal-id %} id="communeModal{{commune.id}}" {% endblock modal-id %}
{% block modal-label %}communeModalLabel{{commune.id}}{% endblock modal-label %}
{% block modal-label2 %}communeModalLabel{{commune.id}}{% endblock modal-label2 %}
{% block modal-titre %} Modifier une commune {% endblock modal-titre %}
{% block action %} action="{% url 'localisation:modifier_commune' %}" {% endblock action %}
{% block modifier-id %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input type="text" name="id" class="form-control" value="{{commune.id}}" readonly >
    </div>
{% endblock modifier-id %}
{% block value-code %}value="{{commune.code}}"{% endblock value-code %}
{% block value-libelle %}value="{{commune.libelle}}"{% endblock value-libelle %}

{% block select-district %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="select_district{{commune.id}}"><i class="fas fa-igloo"></i></label>
        </div>

        <select name="select_district" id="select_district{{commune.id}}" required>
            <option value="">--- Sélectionnez un district ---</option>
            {% for district in districts %}

                {% if district.id == commune.ville.departement.region.district.id %}
                    <option value="{{district.id}}" selected>{{district.libelle}}</option>
                {% else %}
                    <option value="{{district.id}}" >{{district.libelle}}</option>
                {% endif %}

            {% endfor %}

        </select>
    </div>
{% endblock select-district %}

{% block select-region %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="select_region{{commune.id}}"><i class="fas fa-home"></i></label>
        </div>

        <select name="select_region" id="select_region{{commune.id}}">
            <option value="">--- Sélectionnez une région ---</option>

            {% for district in districts %} # On parcours la liste des districts

                {% if district.id == commune.ville.departement.region.district.id %}

                    {% for region in regions %} # On parcours la liste des regions

                        {% if region.district.id == district.id %} # On vérifie si la région est du district sélectionné

                            {% if region.id == commune.ville.departement.region.id %} # On vérifie si la région correspond à la liste des régions
                                <option value="{{region.id}}" selected>{{region.libelle}}</option>
                            {% else %}
                                <option value="{{region.id}}" >{{region.libelle}}</option>
                            {% endif %}

                        {% endif %}

                    {% endfor %}

                {% endif %}

            {% endfor %}

        </select>
    </div>
{% endblock select-region %}

{% block select-departement %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="select_departement{{commune.id}}"><i class="fas fa-building"></i></label>
        </div>

        <select name="select_departement" id="select_departement{{commune.id}}">
            <option value="">--- Sélectionnez un département ---</option>

            {% for district in districts %} # On parcours la liste des districts

                {% if district.id == commune.ville.departement.region.district.id %}

                    {% for region in regions %} # On parcours la liste des regions

                        {% if region.district.id == district.id %} # On vérifie si la région est du district sélectionné

                            {% if region.id == commune.ville.departement.region.id %} # On vérifie si la région correspond à la liste des régions

                                {% for departement in departements %} # On parcours la liste des departements

                                    {% if departement.region.id == region.id %} # On vérifie si le département correspond à la liste des départements

                                        {% if departement.id == commune.ville.departement.id %} # On vérifie si le département correspond au département à modifier
                                            <option value="{{departement.id}}" selected>{{departement.libelle}}</option>
                                        {% else %}
                                            <option value="{{departement.id}}" >{{departement.libelle}}</option>
                                        {% endif %}

                                    {% endif %}

                                {% endfor %}

                            {% endif %}

                        {% endif %}

                    {% endfor %}

                {% endif %}

            {% endfor %}

        </select>
    </div>
{% endblock select-departement %}

{% block select-ville %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="select_ville{{commune.id}}"><i class="fas fa-city"></i></label>
        </div>

        <select name="select_ville" id="select_ville{{commune.id}}">
            <option value="">--- Sélectionnez une ville ---</option>

            {% for district in districts %} # On parcours la liste des districts

                {% if district.id == commune.ville.departement.region.district.id %}

                    {% for region in regions %} # On parcours la liste des regions

                        {% if region.district.id == district.id %} # On vérifie si la région est du district sélectionné

                            {% if region.id == commune.ville.departement.region.id %} # On vérifie si la région correspond à la liste des régions

                                {% for departement in departements %} # On parcours la liste des departements

                                    {% if departement.region.id == region.id %} # On vérifie si le département correspond à la liste des départements

                                        {% if departement.id == commune.ville.departement.id %} # On vérifie si le département correspond au département à modifier

                                            {% for ville in villes %}

                                                {% if departement.id == ville.departement.id %}

                                                    {% if ville.id == commune.ville.id %}
                                                        <option value="{{ville.id}}" selected>{{ville.libelle}}</option>
                                                    {% else %}
                                                        <option value="{{ville.id}}" >{{ville.libelle}}</option>
                                                    {% endif %}

                                                {% endif %}

                                            {% endfor %}

                                        {% endif %}

                                    {% endif %}

                                {% endfor %}

                            {% endif %}

                        {% endif %}

                    {% endfor %}

                {% endif %}

            {% endfor %}

        </select>
    </div>
{% endblock select-ville %}


{% block btn-action %}<i class="fas fa-pen"></i> Modifier {% endblock btn-action %}