<!-- Modal -->
<div class="modal fade" id="{% block id %}ville_Modal{% endblock id %}"  tabindex="-1" aria-labelledby="{% block id-2 %}ville_ModalLabel{% endblock id-2 %}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{% block id-3 %}ville_ModalLabel{% endblock id-3 %}">
                    {% block id-titre %}<i class="fas fa-city"></i> Sélectionnez une ville {% endblock id-titre %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="" autocomplete="off">
                {%  csrf_token %}
                <div class="modal-body">

                    <!-- Liste des Champs -->

                    {% block select-district %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="select_district"><i class="fas fa-igloo"></i></label>
                        </div>

                        <select name="select_district" id="select_district" class="form-control" required>
                            <option value="" selected>--- Sélectionnez un district ---</option>
                            {% for district in districts %}
                            <option value="{{district.id}}" >{{district.libelle}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endblock select-district %}

                    {% block select-region %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="select_region"><i class="fas fa-home"></i></label>
                        </div>

                        <select name="select_region" id="select_region" class="form-control" required>
                            <option value="" selected>--- Sélectionnez une région ---</option>
                        </select>
                    </div>
                    {% endblock select-region %}

                    {% block select-departement %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="select_departement"><i class="fas fa-building"></i></label>
                        </div>

                        <select name="select_departement" id="select_departement" class="form-control" required>
                            <option value="" selected>--- Sélectionnez un département ---</option>
                        </select>
                    </div>
                    {% endblock select-departement %}

                    {% block select-ville %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="select_ville"><i class="fas fa-city"></i></label>
                        </div>

                        <select name="select_ville" id="select_ville" class="form-control" required>
                            <option value="" selected>--- Sélectionnez une ville ---</option>
                        </select>
                    </div>
                    {% endblock select-ville %}

                    {% block select-commune %}{% endblock select-commune %}
                    {% block select-quartier %}{% endblock select-quartier %}
                    {% block select-marche %}{% endblock select-marche %}

                    <!-- -->

                </div>

                {% block id-btn %}
                <div class="modal-footer text-center">
                    <div style="width:100%;">
                        <button type="submit" class="btn btn-outline-success" id="ville_btn_ajouter">
                            <i class="fas fa-plus"></i> Ajouter
                        </button>
                        <button type="reset" class="btn btn-outline-warning" title="Annuler">
                            <i class="fas fa-sync-alt"></i> Annuler
                        </button>
                        <button type="button" class="btn btn-outline-danger" id="ville_btn_fermer" data-dismiss="modal">
                            <i class="fas fa-times"></i> Fermer
                        </button>
                    </div>
                </div>
                {% endblock id-btn %}

            </form>

        </div>
    </div>
</div>