{% extends 'utilisateur/base.html' %}
{% load static %}
{% block titre %}{{titre}}{% endblock %}

{% block tableau_de_bord %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-9">
                <h1 class="text-primary"><i class="fas fa-user"></i> Détails du membre</h1>
            </div>
            <div class="col-md-3">
                <a href="{% url 'presentation:retour_liste_membre' id_retour %}" class="text-danger"><i class="fas fa-undo-alt"></i> Liste des membres</a>
            </div>
        </div>
    </div>
    <hr />
    <!-- Informations -->
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header text-white text-center bg-info">INFORMATIONS</div>
            <div class="card-body">
                <!-- -->
                <div class="form-row mb-3">
                    <div class="col mr-3">
                        <label>Identifiant</label>
                        <p class="contour-info">
                            {{membre.identifiant}}
                        </p>
                    </div>
                    <div class="col">
                        <label>N°de Pièce</label>
                        <p class="contour-info">
                            {{membre.numeropiece}}
                        </p>
                    </div>
                </div>
                <!-- -->

                <!-- -->
                <div class="form-row mb-3">
                    <div class="col mr-3">
                        <label>Nom et prénoms</label>
                        <p class="contour-info">
                            {{membre.nom_prenoms}}
                        </p>
                    </div>
                    <div class="col">
                        <label>Date de naissance</label>
                        <p class="contour-info">
                            {{membre.date_naissance|date:'d/m/Y'}}
                        </p>
                    </div>
                </div>
                <!-- -->

                <!-- -->
                <div class="form-row mb-3">
                    <div class="col mr-3">
                        <label>Contact</label>
                        <p class="contour-info">
                            {{membre.contact}}
                        </p>
                    </div>
                    <div class="col">
                        <label>Lieu d'habitation</label>
                        <p class="contour-info">
                            {{membre.quartier}}
                        </p>
                    </div>
                </div>
                <!-- -->

            </div>
        </div>
    </div>
    <!-- -->

    <!-- Secteur d'activité -->
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header text-white text-center bg-info">SECTEUR D'ACTIVITE</div>
            <div class="card-body">
                <form action="get" method="#">
                    <input type="text" name="id_membre_secteur" id="id_membre_secteur" value="{{membre.id}}" hidden>
                    <fieldset style="border:1px solid #CCC; margin-bottom:10px; padding:5px;">
                    <legend style="font-size:1em;color:gray;border:1px solid #CCC; text-align:center;">
                        Ajouter un secteur d'activité au membre
                    </legend>
                    <!-- -->
                    <div class="form-row mb-2">
                        <div class="col-md-5">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="select_typesecteur"><i class="fas fa-tasks"></i></label>
                                </div>

                                <select name="select_typesecteur" id="select_typesecteur" class="form-control" required>
                                    <option value="" selected>--- Sélectionnez un type de secteur ---</option>
                                    {% for typesecteur in typesecteurs %}
                                    <option value="{{typesecteur.id}}" >{{typesecteur.type|upper}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="select_secteur"><i class="fas fa-hospital-user"></i></label>
                                </div>

                                <select name="select_secteur" id="select_secteur" class="form-control" required>
                                    <option value="" selected>--- Sélectionnez un secteur d'activité ---</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <!-- -->
                            <div class="input-group mb-3 justify-content-center">
                                <button type="submit" id="envoyer_secteur" name="envoyer_secteur" class="btn btn-primary">
                                    <i class="fa fa-plus"></i> Ajouter
                                </button>
                            </div>
                            <!-- -->
                        </div>
                    </div>
                    <!-- -->
                    <hr />

                    <!-- Table -->
                    <table class="table table-hover table-responsive-md text-center" id="tablesecteur">
                        <thead>
                        <tr class="thead-light">
                            <th>N°</th>
                            <th>Type de secteur</th>
                            <th>Secteur d'activité</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for secteur in secteurs %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{secteur.typesecteur|upper}}</td>
                            <td>{{secteur.secteur|capfirst}}</td>
                            <td class="text-center">
                                <button type="button" title="Supprimer" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#secteursupprimermodal{{secteur.id}}" data-backdrop="static"><i class="fas fa-trash-alt"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="secteursupprimermodal{{secteur.id}}" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Confirmez-vous la suppression ?</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>
                                                    Secteur : <strong>{{secteur.secteur|capfirst}}</strong>
                                                </h5>
                                            </div>
                                            <div class="modal-footer justify-content-center">

                                                <form style="display:inline-block; text-align:center" method="get" action="#">
                                                    <input type="text" name="id_membre_secteur_s" id="id_membre_secteur_s{{secteur.id}}" value="{{membre.id}}" hidden>
                                                    <button type="submit" name="supprimer_s" value="{{secteur.id}}" class="btn btn-success btn-sm">Oui</button>
                                                </form>
                                                <button class="btn btn-danger btn-sm" name="annuler_s" data-dismiss="modal">Non</button>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- Modal Fin -->
                            </td>
                        </tr>
                        {% empty %}
                        <tr class="text-center">
                            <td colspan="4" class="text-center">
                                La liste est vide
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- -->
                </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- -->

    <!-- Document -->
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header text-white text-center bg-info">DOCUMENT</div>
            <div class="card-body">
                <form action="post" method="#" enctype="multipart/form-data" id="form_document">
                    {% csrf_token %}
                    <input type="text" name="id_membre_document" id="id_membre_document" value="{{membre.id}}" hidden>
                    <fieldset style="border:1px solid #CCC; margin-bottom:10px; padding:5px;">
                    <legend style="font-size:1em;color:gray;border:1px solid #CCC; text-align:center;">
                        Ajouter un document au membre
                    </legend>
                    <!-- -->
                    <div class="form-row mb-2">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="select_typedocument"><i class="fas fa-paste"></i></label>
                                </div>

                                <select name="select_typedocument" id="select_typedocument" class="form-control" required>
                                    <option value="" selected>--- Sélectionnez un type de document ---</option>
                                    {% for typedocument in typedocuments %}
                                    <option value="{{typedocument.id}}" >{{typedocument.libelle|upper}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-image"></i></span>
                                </div>
                                <input type="file" name="photo" id="photo" class="form-control">
                            </div>
                        </div>
                    </div>
                    <!-- -->

                    <!-- -->
                    <div class="form-row mb-2">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                </div>
                                <input type="date" name="dateenre_d" id="dateenre_d" value="{% now 'Y-m-d' %}" class="form-control">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3 justify-content-start">
                                <button type="submit" id="envoyer_document" name="envoyer_document" class="btn btn-primary">
                                    <i class="fa fa-plus"></i> Ajouter
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- -->
                    <hr />

                    <!-- Table -->
                    <table class="table table-hover table-responsive-md text-center" id="tabledocument">
                        <thead>
                        <tr class="thead-light">
                            <th>N°</th>
                            <th>Type de document</th>
                            <th>Document</th>
                            <th>Date d'enregistrement</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for document in documents %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{document.typedocument|upper}}</td>
                            <td class="text-center"><img src="{{document.photo.url}}" alt="{{document.photo.name}}" title="{{document.photo.name}}" class="img-thumbnail image-petite" ></td>
                            <td>{{document.dateenre|date:"d/m/Y"}}</td>
                            <td class="text-center">
                                <button type="button" title="Supprimer" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#documentsupprimermodal{{document.id}}" data-backdrop="static"><i class="fas fa-trash-alt"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="documentsupprimermodal{{document.id}}" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Confirmez-vous la suppression ?</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>
                                                    Document : <strong>{{document.typedocument.libelle|capfirst}}</strong>
                                                </h5>
                                            </div>
                                            <div class="modal-footer justify-content-center">

                                                <form style="display:inline-block; text-align:center" method="get" action="#">
                                                    <input type="text" name="id_membre_document_s" id="id_membre_document_s{{document.id}}" value="{{membre.id}}" hidden>
                                                    <button type="submit" name="supprimer_d" value="{{document.id}}" class="btn btn-success btn-sm">Oui</button>
                                                </form>
                                                <button class="btn btn-danger btn-sm" name="annuler_d" data-dismiss="modal">Non</button>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- Modal Fin -->
                            </td>
                        </tr>
                        {% empty %}
                        <tr class="text-center">
                            <td colspan="5" class="text-center">
                                La liste est vide
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- -->
                </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- -->

    <!-- Etat de santé -->
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header text-white text-center bg-info">ETAT DE SANTE</div>
            <div class="card-body">
                <form action="post" method="#" id="form_etatsante">
                    {% csrf_token %}
                    <input type="text" name="id_membre_etatsante" id="id_membre_etatsante" value="{{membre.id}}" hidden>
                    <fieldset style="border:1px solid #CCC; margin-bottom:10px; padding:5px;">
                    <legend style="font-size:1em;color:gray;border:1px solid #CCC; text-align:center;">
                        Ajouter un état de santé au membre
                    </legend>
                    <!-- -->
                    <div class="form-row mb-2">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="select_typeetatsante"><i class="fas fa-stethoscope"></i></label>
                                </div>

                                <select name="select_typeetatsante" id="select_typeetatsante" class="form-control" required>
                                    <option value="" selected>--- Sélectionnez un type d'état de santé ---</option>
                                    {% for typeetatsante in typeetatsantes %}
                                    <option value="{{typeetatsante.id}}" >{{typeetatsante.libelle|upper}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                </div>
                                <input type="date" name="dateenre_e" id="dateenre_e" value="{% now 'Y-m-d' %}" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group mb-3 justify-content-start">
                                <button type="submit" id="envoyer_etatsante" name="envoyer_etatsante" class="btn btn-primary">
                                    <i class="fa fa-plus"></i> Ajouter
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- -->
                    <hr />

                    <!-- Table -->
                    <table class="table table-hover table-responsive-md text-center" id="tableetatsante">
                        <thead>
                        <tr class="thead-light">
                            <th>N°</th>
                            <th>Type d'état de santé</th>
                            <th>Date d'enregistrement</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for etatsante in etatsantes %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{etatsante.typeetatsante|upper}}</td>
                            <td>{{etatsante.dateenre|date:"d/m/Y"}}</td>
                            <td class="text-center">
                                <button type="button" title="Supprimer" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#etatsantesupprimermodal{{etatsante.id}}" data-backdrop="static"><i class="fas fa-trash-alt"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="etatsantesupprimermodal{{etatsante.id}}" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Confirmez-vous la suppression ?</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>
                                                    Etat de santé : <strong>{{etatsante.typeetatsante.libelle|capfirst}}</strong>
                                                </h5>
                                            </div>
                                            <div class="modal-footer justify-content-center">

                                                <form style="display:inline-block; text-align:center" method="get" action="#">
                                                    <input type="text" name="id_membre_etatsante_s" id="id_membre_etatsante_s{{etatsante.id}}" value="{{membre.id}}" hidden>
                                                    <button type="submit" name="supprimer_e" value="{{etatsante.id}}" class="btn btn-success btn-sm">Oui</button>
                                                </form>
                                                <button class="btn btn-danger btn-sm" name="annuler_e" data-dismiss="modal">Non</button>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- Modal Fin -->
                            </td>
                        </tr>
                        {% empty %}
                        <tr class="text-center">
                            <td colspan="4" class="text-center">
                                La liste est vide
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- -->
                </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- -->

    <!-- Parent -->
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header text-white text-center bg-info">PARENT</div>
            <div class="card-body">
                <!-- -->
                <form action="post" method="#" id="form_parent">
                    {% csrf_token %}
                    <input type="text" name="id_membre_parent" id="id_membre_parent" value="{{membre.id}}" hidden>
                    <input type="text" hidden name="id_json" id="id_json" class="form-control" value="1">

                    <fieldset style="border:1px solid #CCC; margin-bottom:30px; padding:5px;">
                        <legend style="font-size:1em;color:gray;border:1px solid #CCC; text-align:center;">
                            Ajouter un parent
                        </legend>
                        <!-- -->
                        <div class="form-row mb-2">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="select_typeparent"><i class="fas fa-user-friends"></i></label>
                                    </div>

                                    <select name="select_typeparent" id="select_typeparent" class="form-control" required>
                                        <option value="" selected>--- Sélectionnez un type de parent ---</option>
                                        {% for typeparent in typeparents %}
                                        <option value="{{typeparent.id}}" >{{typeparent.libelle|capfirst}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-check"></i></span>
                                    </div>
                                    <input type="text" name="nomprenoms" class="form-control" placeholder="Saisir le nom et prénoms" >
                                </div>
                            </div>
                        </div>
                        <!-- -->

                        <!-- -->
                        <div class="form-row mb-2">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="date" name="datenaissance" class="form-control" value="{% now 'Y-m-d' %}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                    </div>
                                    <input type="text" name="adresse" class="form-control" placeholder="Adresse">
                                </div>
                            </div>
                        </div>
                        <!-- -->

                        <!-- -->
                        <div class="form-row mb-2">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                    </div>
                                    <input type="text" name="contact" class="form-control" placeholder="Contacts" >
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3 justify-content-center">
                                    <button type="submit" id="btn_p_ajouter" name="btn_p_ajouter" class="btn btn-primary mr-3">
                                        <i class="fa fa-plus"></i> Ajouter
                                    </button>
                                    <button type="reset" class="btn btn-warning" title="Annuler" id="btn_p_annuler">
                                        <i class="fas fa-sync-alt"></i> Annuler
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- -->
                </fieldset>
                </form>
                <!-- -->

                <!-- -->
                <fieldset style="border:1px solid #CCC; margin-bottom:30px; padding:5px;">
                        <legend style="font-size:1em;color:gray;border:1px solid #CCC; text-align:center;">
                            Rechercher un parent
                        </legend>
                        <!-- Champ de recherche -->
                        <div class="input-group w-25 mb-2">
                            <input type="text" name="recherche_parent" id="recherche_parent" class="form-control" placeholder="Rechercher un parent">
                        </div>
                        <!-- -->
                        <hr />
                        <!-- Tableau de recherche -->
                        <table class="table table-hover table-responsive-md text-center" id="table_recherche_parent">
                            <thead class="text-center">
                            <tr class="thead-light">
                                <th>N°</th>
                                <th>Type de parent</th>
                                <th>Nom et prénoms</th>
                                <th>Date de naissance</th>
                                <th>Adresse</th>
                                <th>Contact</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for parent in parents %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{parent.typeparent|upper}}</td>
                                <td>{{parent.nomprenoms|title}}</td>
                                <td>{{parent.datenaissance|date:"d/m/Y"}}</td>
                                <td>{{parent.adresse}}</td>
                                <td>{{parent.contact}}</td>
                                <td class="text-center">
                                    <a href="{% url 'presentation:detail_parent_secteuragricole' parent.id %}" class="btn btn-outline-primary btn-sm" title="Détails"><i class="fas fa-eye"></i></a>
                                    <button type="button" value="{{parent.id}}" title="ajouter ce parent" class="btn btn-outline-success btn-sm"><i class="fas fa-plus"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- -->
                    </fieldset>
                <!-- -->

                <!-- -->
                <fieldset style="border:1px solid #CCC; margin-bottom:30px; padding:5px;">
                        <legend style="font-size:1em;color:gray;border:1px solid #CCC; text-align:center;">
                            Liste des parents du membre
                        </legend>
                        <!-- Table -->
                        <table class="table table-hover table-responsive-md text-center" id="tableparent">
                            <thead>
                            <tr class="thead-light">
                                <th>N°</th>
                                <th>Type de parent</th>
                                <th>Nom et prénoms</th>
                                <th>Date de naissance</th>
                                <th>Adresse</th>
                                <th>Contact</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for parent in parents_membre %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{parent.typeparent|upper}}</td>
                                <td>{{parent.nomprenoms|title}}</td>
                                <td>{{parent.datenaissance|date:"d/m/Y"}}</td>
                                <td>{{parent.adresse}}</td>
                                <td>{{parent.contact}}</td>
                                <td class="text-center">
                                    <button type="button" title="Supprimer" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#parentsupprimermodal{{parent.id}}" data-backdrop="static"><i class="fas fa-trash-alt"></i></button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="parentsupprimermodal{{parent.id}}" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Confirmez-vous la suppression ?</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>
                                                        Parent : <strong>{{parent.nomprenoms|title}}</strong>
                                                    </h5>
                                                </div>
                                                <div class="modal-footer justify-content-center">

                                                    <form style="display:inline-block; text-align:center" method="get" action="#">
                                                        <input type="text" name="id_membre_parent_s" id="id_membre_parent_s{{parent.id}}" value="{{membre.id}}" hidden>
                                                        <button type="submit" name="supprimer_p" value="{{parent.id}}" class="btn btn-success btn-sm">Oui</button>
                                                    </form>
                                                    <button class="btn btn-danger btn-sm" name="annuler_p" data-dismiss="modal">Non</button>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Modal Fin -->
                                </td>
                            </tr>
                            {% empty %}
                            <tr class="text-center">
                                <td colspan="7" class="text-center">
                                    La liste est vide
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- -->
                    </fieldset>
                <!-- -->
            </div>
        </div>
    </div>
    <!-- -->
</div>

<!-- Toast -->
{% include 'toast.html' %}
<!-- -->

{% endblock %}

{% block javascript %}
<script src="{% static 'presentation/js/details_secteur_activite.js' %}"></script>
<script src="{% static 'presentation/js/table_recherche_parent.js' %}"></script>
{% endblock javascript %}