{% extends 'utilisateur/base.html' %}
{% block titre %}{{titre}}{% endblock %}

{% block tableau_de_bord %}

<div class="text-center text-primary">
    <div class="row mt-3 mb-3">

        <div class="col-md-4">
            <div class="card text-white bg-warning">
                <div class="card-header">Total identifié du jour</div>
                <div class="card-body">
                    <h2 class="card-title">10</h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-success">
                <div class="card-header">Total de ville visité</div>
                <div class="card-body">
                    <h2 class="card-title">70</h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-primary">
                <div class="card-header">Total d'identification en cours</div>
                <div class="card-body">
                    <h2 class="card-title">5</h2>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}