<!-- Modal -->
<div class="modal fade" id="chapeau_Modal" tabindex="-1" aria-labelledby="chapeau_ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chapeau_ModalLabel">
            <i class="fas fa-hat-cowboy"></i> Rechercher un chapeau
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="" autocomplete="off">
          {%  csrf_token %}
          <div class="modal-body">

              <!-- Champ de recherche -->
              <div class="row mb-3 pl-2 pr-2">

                  <div class="input-group mb-2">
                      <input type="text" name="recherche_personneressource" id="recherche_personneressource" class="form-control" placeholder="Rechercher">
                      <div class="input-group-append">
                          <span class="input-group-text btn btn-success"><i class="fas fa-search"></i></span>
                      </div>
                  </div>

              </div>
              <!-- -->
              <hr />
              <!-- Tableau de recherche Chapeau-->
              <div style="height:500px; padding:10px; overflow-y:scroll;">
                  <table class="table  table-bordered table-hover table-responsive-md" id="table_personneressource">
                      <thead class="text-center">
                      <tr class="thead-light">
                          <th>N°</th>
                          <th>Chapeau</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for chapeau in chapeaux %}
                        <tr>
                            <td class="text-center">{{forloop.counter}}</td>
                            <td><a href="#" style="text-decoration:none;" value="{{chapeau.id}}">{{chapeau.chapeau}}</a></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
              <!-- -->

          </div>

          <div class="modal-footer text-center">
              <div style="width:100%;">
                  <button type="button" class="btn btn-outline-danger" id="chapeau_l_fermer" data-dismiss="modal">
                      <i class="fas fa-times"></i> Fermer
                  </button>
              </div>
          </div>

      </form>

    </div>
  </div>
</div>