<!-- -->
                                                <fieldset style="border:1px solid #CCC; margin-bottom:10px; padding:5px;">
                                                    <legend style="font-size:1em;color:gray;border:1px solid #CCC;">
                                                        Ajouter un parent
                                                    </legend>
                                                    <!-- -->
                                                    <div class="form-row mb-2">
                                                        <div class="col">
                                                          <input type="button" id="parent_ajouter" class="btn btn-outline-primary" value="Ajouter un parent" data-toggle="modal" data-target="#liste_parent_Modal" data-backdrop="static">
                                                        </div>
                                                        <div class="col">
                                                          <input type="button" id="parent_annuler" class="btn btn-outline-danger" value="Vider la liste">
                                                        </div>
                                                    </div>
                                                    <!-- -->


                                                    <!-- -->
                                                    <select name="parent" id="parent_liste" class="custom-select" multiple>
                                                    </select>
                                                    <!-- -->
                                                </fieldset>
                                                <!-- -->