
@font-face {
	font-family: 'eurocinewebfont';
	src: url('font/eurocine-regular-webfont.woff');
}

body{
    margin: 0px;
    padding: 0px;
    background : #EEE;
    font-family: 'eurocinewebfont';
}


/* Menu nav de base se trouvant dans le template principal */
nav{
    margin: 0px;
    padding: 0px;
    padding: 10px 10px 0px 10px;
    height: 40px;
    background: #DDD;
}

nav div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav div ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

nav div ul li {
    display: inline-block;
    margin-right: 10px;
}

nav div ul li a{
    text-decoration: none;
}

/*  CSS générique */
.image-petite{
    margin:0px;
    padding:0px;
    width:50px;
    height:50px;
}

.label-sans-fond{
    background:none;
    border:none;
}

.contour-info{
    display : block;
    margin:0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #e9ecef;
    border-left: solid 5px #5bc0de;
    border-radius: 5px;
}

.contour-danger{
    display : block;
    margin:0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #e9ecef;
    border-left: solid 5px red;
    border-radius: 5px;
}

.contour-warning{
    display : block;
    margin:0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #e9ecef;
    border-left: solid 5px orange;
    border-radius: 5px;
}

/*  Fin Menu nav */

/* Le contenu */
#contenu {
    background: #BBB;
}

#contenu h1{
    margin: 0px;
    padding : 0px;
}



/* contenu index */


/*  MENU DEROULANT   */

.menu-accordeon {
  padding:0;
  margin:0;
  list-style:none;
}

.menu-accordeon a:hover{
  color:white;
}

.menu-accordeon ul {
  padding:0;
  margin:0;
  padding-left: 15px;
  list-style:none;
}

.menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   box-shadow: none;
   border:none;
   margin:0
}

.menu-accordeon a {
  display:block;
  text-decoration: none;
  color: black;
  padding: 8px 0;
}

.menu-accordeon li:hover li {
  max-height: 15em;
}

/*  FIN MENU DEROULANT   */


/* Contenu Index présentation */
#contenu_index_gauche{
    background: #025E73;
}

#contenu_index_gauche a{
    color: #FFF;
    transition: 0.5s;
    transition-property: color;
}

#contenu_index_gauche a:hover{
    color: #A5A692;
}


/***********************************/

#contenu_index_droit{
    background: white;
}


/* Fin contenu index */

/* Le pied de page */
#pied_page{
    background: #DDD;
    padding: 10px;
}

#pied_page p{
    margin: 0px;
}
/*********************/

/** CSS DATATABLE **/

.dataTables_filter {
    display: none;
}

.dataTables_length {
    float: right;
}

.dt-buttons {
    margin-bottom: 10px;
}

thead input {
    text-align: center;
}

.sorting_disabled {
    color: transparent !important;
}

/* FIN CSS DATATABLE */


/* CSS SWAL

.swal-modal {
    background-color: rgba(0,0,0.2);
    color: #fff;
}

.swal-title {
    font-size: 20px;
    color: #fff;
}

.swal-text {
    font-size: 15px;
    color: #fff;
}

.swal-button {
    padding: 7px 19px;
    border-radius : 5px;
    background-color: #198754;
    font-size: 12px;
    border: 1px solid #198754;
}

.swal-button:focus {
    box-shadow: none;
}

.swal-button:not([disabled]):hover {
    background: transparent;
    color: #fff;
    border: 1px solid #198754;
}

.swal-icon--success__hide-cornes {
    background: none !important;
}

.swal-icon--success:before,
.swal-icon--success:after {
    background: none !important;
}
 FIN CSS SWAL */