
@font-face {
	font-family: 'eurocinewebfont';
	src: url('font/eurocine-regular-webfont.woff');
}

body{
    margin: 0px;
    padding: 0px;
    background : #EEE;
    font-family: 'eurocinewebfont';
}


/* Menu nav de base se trouvant dans le template principal */
nav{
    margin: 0px;
    padding: 0px;
    padding: 10px 10px 0px 10px;
    height: 40px;
    background: #DDD;
}

nav div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav div ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

nav div ul li {
    display: inline-block;
    margin-right: 10px;
}

nav div ul li a{
    text-decoration: none;
}

/*  Fin Menu nav */

/* Le contenu */
#contenu {
    background: #BBB;
}

#contenu h1{
    margin: 0px;
    padding : 0px;
}



/* contenu index */


/*  MENU DEROULANT   */

.menu-accordeon {
  padding:0;
  margin:0;
  list-style:none;
}

.menu-accordeon a:hover{
  color:white;
}

.menu-accordeon ul {
  padding:0;
  margin:0;
  padding-left: 15px;
  list-style:none;
}

.menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   box-shadow: none;
   border:none;
   margin:0
}

.menu-accordeon a {
  display:block;
  text-decoration: none;
  color: black;
  padding: 8px 0;
}

.menu-accordeon li:hover li {
  max-height: 15em;
}

/*  FIN MENU DEROULANT   */


/* Contenu Index présentation */

#contenu_index_droit{
    background: white;
}


/* Fin contenu index */

/* Le pied de page */
#pied_page{
    background: #DDD;
    padding: 10px;
}

#pied_page p{
    margin: 0px;
}
/*********************/
