<!-- Modal -->
<div class="modal fade" {% block modal-id %} id="personneressourceModal" {% endblock modal-id %} tabindex="-1" aria-labelledby="{% block modal-label %}personneressourceModalLabel{% endblock modal-label %}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{% block modal-label2 %}personneressourceModalLabel{% endblock modal-label2 %}">
                    <i class="fas fa-user-shield"></i>{% block modal-titre %} Ajouter une personne ressource {% endblock modal-titre %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="#" autocomplete="off">
                {%  csrf_token %}
                <div class="modal-body">

                    <!-- Champ de Type de personne ressource -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="select_typepersonneressource"><i class="fas fa-user-tie"></i></label>
                        </div>

                        <select name="select_typepersonneressource" id="select_typepersonneressource" class="form-control" required>
                            <option value="" selected>--- Sélectionnez un type de personne ---</option>
                            {% for typepersonneressource in typepersonneressources %}

                            {% if id_chapeau == typepersonneressource.id %}
                            <option value="{{typepersonneressource.id}}" selected>{{typepersonneressource.type}}</option>
                            {% else %}
                            <option value="{{typepersonneressource.id}}" >{{typepersonneressource.type}}</option>
                            {% endif %}

                            {% endfor %}
                        </select>
                    </div>
                    <!-- -->

                    <hr />

                    <!-- Tableau de recherche Chapeau-->
                    <div id="trc" value="{{id_chapeau}}" style="height:500px; padding:10px; overflow-y:scroll;">
                        <!-- Champ de recherche -->
                        <div class="row mb-3 pl-2 pr-2">

                            <div class="input-group mb-2">
                                <input type="text" name="recherche_personneressource" id="recherche_personneressource" class="form-control" placeholder="Rechercher">
                                <div class="input-group-append">
                                    <span class="input-group-text btn btn-success"><i class="fas fa-search"></i></span>
                                </div>
                            </div>

                        </div>
                        <!-- -->

                        <hr />
                        <table class="table  table-bordered table-hover table-responsive-md" id="table_recherche_personneressource">
                            <thead class="text-center">
                            <tr class="thead-light">
                                <th>N°</th>
                                <th>Nom et prénoms</th>
                                <th>Contact</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for chapeau in chapeaux %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{chapeau.chapeau}}</td>
                                <td>{{chapeau.contact}}</td>
                                <td class="text-center">
                                    <button type="button" value="{{chapeau.id}}" title="ajouter cette personne ressource" class="btn btn-outline-success btn-sm"><i class="fas fa-plus"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- -->

                    <!-- Tableau de recherche Membre-->
                    <div id="trm" class="dn" style="height:500px; padding:10px; overflow-y:scroll;">
                        <!-- Champ de recherche -->
                        <div class="row mb-3 pl-2 pr-2">

                            <div class="input-group mb-2">
                                <input type="text" name="recherche_personneressource_m" id="recherche_personneressource_m" class="form-control" placeholder="Rechercher">
                                <div class="input-group-append">
                                    <span class="input-group-text btn btn-success"><i class="fas fa-search"></i></span>
                                </div>
                            </div>

                        </div>
                        <!-- -->
                        <hr />
                        <table class="table  table-bordered table-hover table-responsive-md" id="table_recherche_personneressource_m">
                            <thead class="text-center">
                            <tr class="thead-light">
                                <th>N°</th>
                                <th>Nom et prénoms</th>
                                <th>Contact</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for membre in membres %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{membre.nom_prenoms}}</td>
                                <td>{{membre.contact}}</td>
                                <td class="text-center">
                                    <button type="button" value="{{membre.id}}" title="ajouter cette personne ressource" class="btn btn-outline-success btn-sm"><i class="fas fa-plus"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- -->

                </div>

                <div class="modal-footer text-center">
                    <div style="width: 100%;">
                        <button type="reset" class="btn btn-outline-warning" title="Annuler">
                            <i class="fas fa-sync-alt"></i> Annuler
                        </button>
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                            <i class="fas fa-times"></i> Fermer
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>