<!-- Modal -->
<div class="modal fade" {% block modal-id %} id="parentModal" {% endblock modal-id %} tabindex="-1" aria-labelledby="{% block modal-label %}parentModalLabel{% endblock modal-label %}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{% block modal-label2 %}parentModalLabel{% endblock modal-label2 %}">
            <i class="fas fa-user-check"></i>{% block modal-titre %} Ajouter un parent {% endblock modal-titre %}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" {% block action %} action="{% url 'vieprofessionnelle:ajouter_parent' %}" {% endblock action %} autocomplete="off">
          {%  csrf_token %}
          <div class="modal-body">
              {% block modifier-id %}{% endblock modifier-id %}

              {% block select-typeparent %}
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <label class="input-group-text" for="select_typeparent"><i class="fas fa-user-friends"></i></label>
                  </div>

                  <select name="select_typeparent" id="select_typeparent" class="form-control" required>
                      <option value="" selected>--- Sélectionnez un type de parent ---</option>
                      {% for typeparent in typeparents %}
                      <option value="{{typeparent.id}}" >{{typeparent.libelle|capfirst}}</option>
                      {% endfor %}
                  </select>
              </div>
              {% endblock select-typeparent %}

              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user-check"></i></span>
                  </div>
                  <input type="text" name="nomprenoms" class="form-control" placeholder="Saisir le nom et prénoms" {% block value-nomprenoms %}{% endblock value-nomprenoms %} required autofocus >
              </div>

              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                  </div>
                  <input type="date" name="datenaissance" class="form-control" {% block value-date %}{% endblock value-date %} >
              </div>

              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                  </div>
                  <input type="text" name="adresse" class="form-control" placeholder="Adresse" {% block value-adresse %}{% endblock value-adresse %} >
              </div>

              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-phone"></i></span>
                  </div>
                  <input type="text" name="contact" class="form-control" placeholder="Contacts" {% block value-contact %}{% endblock value-contact %} >
              </div>

          </div>

          <div class="modal-footer text-center">
              <div style="width: 100%;">
                  {% block btn-ajax %}
                  <button type="submit" class="btn btn-success">
                      {% block btn-action %}<i class="fas fa-plus"></i> Enregistrer {% endblock btn-action %}
                  </button>
                  <button type="reset" class="btn btn-outline-warning" title="Annuler">
                      <i class="fas fa-sync-alt"></i> Annuler
                  </button>
                  <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                      <i class="fas fa-times"></i> Fermer
                  </button>
                  {% endblock btn-ajax %}
              </div>
          </div>

      </form>

    </div>
  </div>
</div>