{% extends 'vieprofessionnelle/ajouter_typeresponsabilite.html' %}

{% block modal-id %} id="typeresponsabilitemodifierModal{{typeresponsabilite.id}}" {% endblock modal-id %}
{% block modal-label %}typeresponsabiliteModalLabel{{typeresponsabilite.id}}{% endblock modal-label %}
{% block modal-label2 %}typeresponsabiliteModalLabel{{typeresponsabilite.id}}{% endblock modal-label2 %}
{% block modal-titre %} Modifier un type de responsabilité {% endblock modal-titre %}
{% block action %} action="{% url 'vieprofessionnelle:modifier_typeresponsabilite' %}" {% endblock action %}
{% block modifier-id %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input type="text" name="id" class="form-control" value="{{typeresponsabilite.id}}" readonly >
    </div>
{% endblock modifier-id %}

{% block value-type %}value="{{typeresponsabilite.type}}"{% endblock value-type %}
{% block btn-action %}<i class="fas fa-pen"></i> Modifier {% endblock btn-action %}