{% extends 'utilisateur/base.html' %}
{% load static %}
{% load presentation_filtre %}
{% block titre %}{{titre}}{% endblock %}

{% block tableau_de_bord %}
<!-- page a imprimer -->
<div id="pageImprimer" style="background:white;">

    <!-- On parcourt la liste des secteurs  -->
    {% for secteur in isecteurs %}

    {% if secteur.typesecteur == parametre.id_secteuragricole %}
    <!-- SECTEUR AGRICOLE -->
    <!-- FIN SECTEUR AGRICOLE -->
    {% elif secteur.typesecteur == parametre.id_secteurfemmeactive %}

    <!-- SECTEUR FEMME ACTIVE -->
    <div style="margin-bottom:350px;">
        <!-- Entête -->
        <div class="text-center">
            <h4 style="text-decoration:underline;">
                GROUPEMENT SOLIDAIRE {{secteur.secteur.nom|upper}} ({{secteur.secteur.quantitegroupement.quantite}})
            </h4>
            <h5>
                N°{{secteur.secteur.identifiant|slice:'0:3'}}/{{secteur.secteur.identifiant|slice:'3:6'}}/{{secteur.secteur.identifiant|slice:'6:9'}}/{{secteur.secteur.identifiant|slice:'9:12'}}/{{secteur.secteur.identifiant|slice:'12:'}}
            </h5>
        </div>
        <!-- -->

        <!-- Date d'identification -->
        <h5 style="display: inline-block; text-decoration:underline;">
            Date d'identification :
        </h5>
        <h6 style="display: inline-block;">
            {{secteur.secteur.dateenre|date:'d/m/Y'}}
        </h6>
        <!-- -->

        <!-- Liste des membres -->
        <div class="row m-0">
            <div class="col-md-12">
                <table class=" text-center mb-3 w-100">
            <thead class="text-center">
            <tr class="thead-light" style="background:#ccc;">
                <th style="border:1px solid #ddd;">N°</th>
                <th style="border:1px solid #ddd;">Nom et prénoms</th>
                <th style="border:1px solid #ddd;">Contacts</th>
                <th style="border:1px solid #ddd;">Activité</th>
                <th style="border:1px solid #ddd;">Montant financement</th>
            </tr>
            </thead>
            <tbody>
            {% for femmeactive in secteur.femmeactives %}
            <tr>
                <td style="border:1px solid #ccc;">{{forloop.counter}}</td>
                <td style="border:1px solid #ccc;">{{femmeactive.membre.nom_prenoms|upper}}</td>
                <td style="border:1px solid #ccc;">{{femmeactive.membre.contact}}</td>
                <td style="border:1px solid #ccc;">{{femmeactive.membre.secteur}}</td>
                <td style="border:1px solid #ccc;">{{femmeactive.montantfinancement.montant|separateur_millier}} {{parametre.monnaie}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            </div>
        </div>
        <!-- -->

        <!-- Nom et prénoms des membres du bureau -->
        <div class="mb-2 mt-2">
            <h5 style="display: inline-block; text-decoration:underline;">
                Nom et prénoms Responsable :
            </h5>
            <h6 style="display: inline-block;">
                {{secteur.secteur.responsable|upper}}
            </h6>
        </div>

        <div class="mb-2">
            <h5 style="display: inline-block; text-decoration:underline;">
                Nom et prénoms Trésorière :
            </h5>
            <h6 style="display: inline-block;">
                {{secteur.secteur.tresoriere|upper}}
            </h6>
        </div>

        <div class="mb-2">
            <h5 style="display: inline-block; text-decoration:underline;">
                Nom et prénoms 1<sup>ère</sup> Conseillère :
            </h5>
            <h6 style="display: inline-block;">
                {{secteur.secteur.conseillere|upper}}
            </h6>
        </div>

        <div class="mb-2">
            <h5 style="display: inline-block; text-decoration:underline;">
                Nom et prénoms 2<sup>ème</sup> Conseillère :
            </h5>
            <h6 style="display: inline-block;">
                {{secteur.secteur.conseilleres|upper}}
            </h6>
        </div>

        <!-- -->
    </div>
    <!-- FIN SECTEUR FEMME ACTIVE-->

    {% elif secteur.typesecteur == parametre.id_secteurinformel %}
    <!-- SECTEUR INFORMEL -->
    <!-- FIN SECTEUR INFORMEL -->
    {% endif %}

    {% endfor %}



</div>
<!-- -->

<!-- boutton d'impression et de retour -->
<div style="position:fixed;top:0px;right:0px;">
    <a href="{% url 'etat:retour_etat' 1 %}" class="btn btn-danger mr-3"><i class="fas fa-undo-alt"></i> Retour</a>
    <button id="imprimer" class="btn btn-primary">
        <i class="fas fa-print"></i> Imprimer
    </button>
</div>
<!-- -->
{% endblock %}

{% block javascript %}
<script>
        var imprimer = $('#imprimer');
        imprimer.click(function(){
            $('#pageImprimer').printThis(
            {
                loadCSS: "{% static 'css/ipaysage.css' %}", // On charge le css pour l'affichage en paysage
            }
            );
        });
</script>
{% endblock javascript %}