{% extends 'utilisateur/base.html' %}
{% load static %}
{% load presentation_filtre %}
{% block titre %}{{titre}}{% endblock %}

{% block tableau_de_bord %}
<!-- page a imprimer -->
<div id="pageImprimer" style="background:white;">

    <!-- On parcourt la liste des secteurs  -->
    {% for secteur in isecteurs %}

    {% if secteur.typesecteur == parametre.id_secteuragricole %}
    <!-- SECTEUR AGRICOLE -->
    <!-- FIN SECTEUR AGRICOLE -->
    {% elif secteur.typesecteur == parametre.id_secteurfemmeactive %}

    <!-- SECTEUR FEMME ACTIVE -->
    <div class="mb-3">
        <!-- Entête -->
        <div class="text-center">
            <h4 style="text-decoration:underline;">
                GROUPEMENT SOLIDAIRE {{secteur.secteur.nom}} ({{secteur.secteur.quantitegroupement}})
            </h4>
            <h5>
                N°{{secteur.secteur.identifiant}}
            </h5>
        </div>
        <!-- -->

        {% for membre in secteur.membres %}
        <p>
            {{membre.nom_prenoms}}
        </p>
        {% endfor %}
    </div>
    <!-- FIN SECTEUR FEMME ACTIVE-->

    {% elif secteur.typesecteur == parametre.id_secteurinformel %}
    <!-- SECTEUR INFORMEL -->
    <!-- FIN SECTEUR INFORMEL -->
    {% endif %}

    {% endfor %}



    <!-- Date d'identification -->
    <h5 style="display: inline-block; text-decoration:underline;">
        Date d'identification :
    </h5>
    <h6 style="display: inline-block;">
        15/10/2022
    </h6>
    <!-- -->



</div>
<!-- -->

<!-- boutton d'impression et de retour -->
<div style="position:fixed;top:0px;right:0px;">
    <a href="{% url 'etat:retour_etat' 1 %}" class="btn btn-danger mr-3"><i class="fas fa-undo-alt"></i> Retour</a>
    <button id="imprimer" class="btn btn-primary">
        <i class="fas fa-print"></i> Imprimer
    </button>
</div>
<!-- -->
{% endblock %}

{% block javascript %}
<script>
        var imprimer = $('#imprimer');
        imprimer.click(function(){
            $('#pageImprimer').printThis(
            {
                loadCSS: "{% static 'css/ipaysage.css' %}", // On charge le css pour l'affichage en paysage
            }
            );
        });
</script>
{% endblock javascript %}