{% extends 'utilisateur/base.html' %}
{% load static %}
{% block titre %}{{titre}}{% endblock %}

{% block tableau_de_bord %}

<div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link {{active_typepiece|first}}" id="typepiece-tab" data-toggle="tab" data-target="#typepiece" type="button" role="tab" aria-controls="typepiece" aria-selected="{{ active_typepiece|slice:'1:2'|first }}">
        Type de pièce
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link {{active_niveau|first}}" id="niveau-tab" data-toggle="tab" data-target="#niveau" type="button" role="tab" aria-controls="niveau" aria-selected="{{ active_niveau|slice:'1:2'|first }}">
        Niveau
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link {{active_niveauscolaire|first}}" id="scolaire-tab" data-toggle="tab" data-target="#scolaire" type="button" role="tab" aria-controls="scolaire" aria-selected="{{ active_niveauscolaire|slice:'1:2'|first }}">
        Niveau scolaire
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link {{active_sexe|first}}" id="sexe-tab" data-toggle="tab" data-target="#sexe" type="button" role="tab" aria-controls="sexe" aria-selected="{{ active_sexe|slice:'1:2'|first }}">
        Sexe
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link {{active_nationalite|first}}" id="nationalite-tab" data-toggle="tab" data-target="#nationalite" type="button" role="tab" aria-controls="nationalite" aria-selected="{{ active_nationalite|slice:'1:2'|first }}">
        Nationalité
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link {{active_situation|first}}" id="situation-tab" data-toggle="tab" data-target="#situation" type="button" role="tab" aria-controls="situation" aria-selected="{{ active_situation|slice:'1:2'|first }}">
        Situation matrimoniale
      </button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">

    <!-- CONTENU Type de pièce -->
    <div class="tab-pane fade {{ active_typepiece|last }}" id="typepiece" role="tabpanel" aria-labelledby="typepiece-tab">
      <div>
        <h1 class="mb-3 text-primary"><i class="fas fa-id-card"></i> Liste des types de pièce</h1>
        <h3><a class="btn btn-primary" data-toggle="modal" data-target="#typepieceModal" data-backdrop="static"><i class="fas fa-id-card"></i> Ajouter un type de pièce</a></h3>
        <div class="row">
            <div class="col-md-12">
                <table class="table  table-bordered table-hover table-responsive-md" id="tabletypepiece">
                    <thead class="text-center">
                        <tr class="thead-light">
                            <th>N°</th>
                            <th>Type</th>
                            <th>Libellé</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for typepiece in typepieces %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{typepiece.type}}</td>
                            <td>{{typepiece.libelle|capfirst}}</td>
                            <td class="text-center">
                                <!--a class="btn btn-outline-primary btn-sm" title="Détail" href="#"><i class="far fa-eye"></i></a-->
                                <a class="btn btn-outline-warning btn-sm" title="Modifier" data-toggle="modal" data-target="#typepieceModal{{typepiece.id}}" data-backdrop="static"><i class="fas fa-pen"></i></a>
                                <button type="button" title="Supprimer" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#typepiecemodal{{typepiece.id}}" data-backdrop="static"><i class="fas fa-trash-alt"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="typepiecemodal{{typepiece.id}}" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title">Confirmez-vous la suppression ?</h4>
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <h5>
                                                Type de pièce : <strong>{{typepiece.libelle|capfirst}}</strong>
                                            </h5>
                                        </div>
                                        <div class="modal-footer justify-content-center">

                                            <form style="display:inline-block; text-align:center" method="post" action="{% url 'etatcivil:supprimer_typepiece' typepiece.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success btn-sm">Oui</button>
                                            </form>
                                            <a class="btn btn-danger btn-sm" data-dismiss="modal">Non</a>

                                        </div>
                                      </div>

                                    </div>
                                </div>
                                <!-- Modal Fin -->
                            </td>
                        </tr>
                        <!-- LISTE DES INCLUDES -->
                        {% include 'etatcivil/ajouter_typepiece.html' %}
                        {% include 'etatcivil/modifier_typepiece.html' %}

                        {% empty %}
                            {% include 'etatcivil/ajouter_typepiece.html' %}

                        {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>

      </div>
    </div>
    <!-- FIN DE CONTENU Type de pièce -->

    <!-- CONTENU Niveau -->
    <div class="tab-pane fade {{ active_niveau|last }}" id="niveau" role="tabpanel" aria-labelledby="niveau-tab">
      <div>
        <h1 class="mb-3 text-primary"><i class="fas fa-graduation-cap"></i> Liste des niveaux</h1>
        <h3><a class="btn btn-primary" data-toggle="modal" data-target="#niveauModal" data-backdrop="static"><i class="fas fa-graduation-cap"></i> Ajouter un niveau</a></h3>
        <div class="row">
            <div class="col-md-12">
                <table class="table  table-bordered table-hover table-responsive-md" id="tableniveau">
                    <thead class="text-center">
                        <tr class="thead-light">
                            <th>N°</th>
                            <th>Niveau</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for niveau in niveaux %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{niveau.niveau|capfirst}}</td>
                            <td class="text-center">
                                <a class="btn btn-outline-warning btn-sm" title="Modifier" data-toggle="modal" data-target="#niveaumodifierModal{{niveau.id}}" data-backdrop="static"><i class="fas fa-pen"></i></a>
                                <button type="button" title="Supprimer" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#niveaumodal{{niveau.id}}" data-backdrop="static"><i class="fas fa-trash-alt"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="niveaumodal{{niveau.id}}" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title">Confirmez-vous la suppression ?</h4>
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <h5>
                                                Niveau : <strong>{{niveau.niveau|capfirst}}</strong>
                                            </h5>
                                        </div>
                                        <div class="modal-footer justify-content-center">

                                            <form style="display:inline-block; text-align:center" method="post" action="{% url 'etatcivil:supprimer_niveau' niveau.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success btn-sm">Oui</button>
                                            </form>
                                            <a class="btn btn-danger btn-sm" data-dismiss="modal">Non</a>

                                        </div>
                                      </div>

                                    </div>
                                </div>
                                <!-- Modal Fin -->
                            </td>
                        </tr>
                        <!-- LISTE DES INCLUDES -->
                        {% include 'etatcivil/ajouter_niveau.html' %}
                        {% include 'etatcivil/modifier_niveau.html' %}

                        {% empty %}
                            {% include 'etatcivil/ajouter_niveau.html' %}

                        {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>

      </div>
    </div>
    <!-- FIN DE CONTENU Niveau -->

    <!-- CONTENU Niveau scolaire -->
    <div class="tab-pane fade {{ active_niveauscolaire|last }}" id="scolaire" role="tabpanel" aria-labelledby="scolaire-tab">
      <div>
        <h1 class="mb-3 text-primary"><i class="fas fa-user-graduate"></i> Liste des niveaux scolaires</h1>
        <h3><a class="btn btn-primary" data-toggle="modal" data-target="#scolaireModal" data-backdrop="static"><i class="fas fa-user-graduate"></i> Ajouter un niveau scolaire</a></h3>
        <div class="row">
            <div class="col-md-12">
                <table class="table  table-bordered table-hover table-responsive-md" id="tableniveauscolaire">
                    <thead class="text-center">
                        <tr class="thead-light">
                            <th>N°</th>
                            <th>Classe</th>
                            <th>Niveau</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for niveauscolaire in niveauscolaires %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{niveauscolaire.classe|upper}}</td>
                            <td>{{niveauscolaire.niveau.niveau|capfirst}}</td>
                            <td class="text-center">
                                <!--a class="btn btn-outline-primary btn-sm" title="Détail" href="#"><i class="far fa-eye"></i></a-->
                                <a class="btn btn-outline-warning btn-sm" title="Modifier" data-toggle="modal" data-target="#scolaireModal{{niveauscolaire.id}}" data-backdrop="static"><i class="fas fa-pen"></i></a>
                                <button type="button" title="Supprimer" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#niveauscolairemodal{{niveauscolaire.id}}" data-backdrop="static"><i class="fas fa-trash-alt"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="niveauscolairemodal{{niveauscolaire.id}}" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title">Confirmez-vous la suppression ?</h4>
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <h5>
                                                Niveau scolaire : <strong>{{niveauscolaire.classe}}</strong>
                                            </h5>
                                        </div>
                                        <div class="modal-footer justify-content-center">

                                            <form style="display:inline-block; text-align:center" method="post" action="{% url 'etatcivil:supprimer_niveauscolaire' niveauscolaire.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success btn-sm">Oui</button>
                                            </form>
                                            <a class="btn btn-danger btn-sm" data-dismiss="modal">Non</a>

                                        </div>
                                      </div>

                                    </div>
                                </div>
                                <!-- Modal Fin -->
                            </td>
                        </tr>
                        <!-- LISTE DES INCLUDES -->
                        {% include 'etatcivil/ajouter_niveauscolaire.html' %}
                        {% include 'etatcivil/modifier_niveauscolaire.html' %}

                        {% empty %}
                            {% include 'etatcivil/ajouter_niveauscolaire.html' %}

                        {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>

      </div>
    </div>
    <!-- FIN DE CONTENU Niveau scolaire -->

    <!-- CONTENU Sexe -->
    <div class="tab-pane fade {{ active_sexe|last }}" id="sexe" role="tabpanel" aria-labelledby="sexe-tab">
      <div>
        <h1 class="mb-3 text-primary"><i class="fas fa-male"></i> Liste des sexes</h1>
        <h3><a class="btn btn-primary" data-toggle="modal" data-target="#sexe" data-backdrop="static"><i class="fas fa-male"></i> Ajouter un sexe</a></h3>
        <div class="row">
            <div class="col-md-12">
                <table class="table  table-bordered table-hover table-responsive-md" id="tablesexe">
                    <thead class="text-center">
                        <tr class="thead-light">
                            <th>N°</th>
                            <th>Code</th>
                            <th>Libellé</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sexe in sexes %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{sexe.code|upper}}</td>
                            <td>{{sexe.libelle|capfirst}}</td>
                            <td class="text-center">
                                <a class="btn btn-outline-warning btn-sm" title="Modifier" data-toggle="modal" data-target="#sexeModal{{sexe.id}}" data-backdrop="static"><i class="fas fa-pen"></i></a>
                                <button type="button" title="Supprimer" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#sexemodal{{sexe.id}}" data-backdrop="static"><i class="fas fa-trash-alt"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="sexemodal{{sexe.id}}" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title">Confirmez-vous la suppression ?</h4>
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <h5>
                                                Sexe : <strong>{{sexe.libelle|capfirst}}</strong>
                                            </h5>
                                        </div>
                                        <div class="modal-footer justify-content-center">

                                            <form style="display:inline-block; text-align:center" method="post" action="{% url 'etatcivil:supprimer_sexe' sexe.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success btn-sm">Oui</button>
                                            </form>
                                            <a class="btn btn-danger btn-sm" data-dismiss="modal">Non</a>

                                        </div>
                                      </div>

                                    </div>
                                </div>
                                <!-- Modal Fin -->
                            </td>
                        </tr>
                        <!-- LISTE DES INCLUDES -->
                        {% include 'etatcivil/ajouter_sexe.html' %}
                        {% include 'etatcivil/modifier_sexe.html' %}

                        {% empty %}
                            {% include 'etatcivil/ajouter_sexe.html' %}

                        {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>

      </div>
    </div>
    <!-- FIN DE CONTENU Sexe -->

    <!-- CONTENU Nationalité -->
    <div class="tab-pane fade {{ active_nationalite|last }}" id="nationalite" role="tabpanel" aria-labelledby="nationalite-tab">
      <div>
        <h1 class="mb-3 text-primary"><i class="fas fa-flag"></i> Liste des nationalités</h1>
        <h3><a class="btn btn-primary" data-toggle="modal" data-target="#nationalite" data-backdrop="static"><i class="fas fa-flag"></i> Ajouter une nationalité</a></h3>
        <div class="row">
            <div class="col-md-12">
                <table class="table  table-bordered table-hover table-responsive-md" id="tablenationalite">
                    <thead class="text-center">
                        <tr class="thead-light">
                            <th>N°</th>
                            <th>Code</th>
                            <th>Nationalité</th>
                            <th>Pays</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nationalite in nationalites %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{nationalite.code|upper}}</td>
                            <td>{{nationalite.nationalite|capfirst}}</td>
                            <td>{{nationalite.pays|capfirst}}</td>
                            <td class="text-center">
                                <a class="btn btn-outline-warning btn-sm" title="Modifier" data-toggle="modal" data-target="#nationaliteModal{{nationalite.id}}" data-backdrop="static"><i class="fas fa-pen"></i></a>
                                <button type="button" title="Supprimer" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#nationalitemodal{{nationalite.id}}" data-backdrop="static"><i class="fas fa-trash-alt"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="nationalitemodal{{nationalite.id}}" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title">Confirmez-vous la suppression ?</h4>
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <h5>
                                                Nationalité : <strong>{{nationalite.nationalite|capfirst}}</strong>
                                            </h5>
                                        </div>
                                        <div class="modal-footer justify-content-center">

                                            <form style="display:inline-block; text-align:center" method="post" action="{% url 'etatcivil:supprimer_nationalite' nationalite.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success btn-sm">Oui</button>
                                            </form>
                                            <a class="btn btn-danger btn-sm" data-dismiss="modal">Non</a>

                                        </div>
                                      </div>

                                    </div>
                                </div>
                                <!-- Modal Fin -->
                            </td>
                        </tr>
                        <!-- LISTE DES INCLUDES -->
                        {% include 'etatcivil/ajouter_nationalite.html' %}
                        {% include 'etatcivil/modifier_nationalite.html' %}

                        {% empty %}
                            {% include 'etatcivil/ajouter_nationalite.html' %}

                        {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>

      </div>
    </div>
    <!-- FIN DE CONTENU Nationalité -->

    <!-- CONTENU Situation matrimoniale -->
    <div class="tab-pane fade {{ active_situation|last }}" id="situation" role="tabpanel" aria-labelledby="situation-tab">
      <div>
        <h1 class="mb-3 text-primary"><i class="fas fa-ring"></i> Liste des situations matrimoniales</h1>
        <h3><a class="btn btn-primary" data-toggle="modal" data-target="#situation" data-backdrop="static"><i class="fas fa-ring"></i> Ajouter une situation matrimoniale</a></h3>
        <div class="row">
            <div class="col-md-12">
                <table class="table  table-bordered table-hover table-responsive-md" id="tablesituation">
                    <thead class="text-center">
                        <tr class="thead-light">
                            <th>N°</th>
                            <th>Situation</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for situation in situations %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{situation.situation|capfirst}}</td>
                            <td class="text-center">
                                <a class="btn btn-outline-warning btn-sm" title="Modifier" data-toggle="modal" data-target="#situationModal{{situation.id}}" data-backdrop="static"><i class="fas fa-pen"></i></a>
                                <button type="button" title="Supprimer" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#situationmodal{{situation.id}}" data-backdrop="static"><i class="fas fa-trash-alt"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="situationmodal{{situation.id}}" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title">Confirmez-vous la suppression ?</h4>
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <h5>
                                                Situation matrimoniale : <strong>{{situation.situation|capfirst}}</strong>
                                            </h5>
                                        </div>
                                        <div class="modal-footer justify-content-center">

                                            <form style="display:inline-block; text-align:center" method="post" action="{% url 'etatcivil:supprimer_situationmatrimoniale' situation.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success btn-sm">Oui</button>
                                            </form>
                                            <a class="btn btn-danger btn-sm" data-dismiss="modal">Non</a>

                                        </div>
                                      </div>

                                    </div>
                                </div>
                                <!-- Modal Fin -->
                            </td>
                        </tr>
                        <!-- LISTE DES INCLUDES -->
                        {% include 'etatcivil/ajouter_situation.html' %}
                        {% include 'etatcivil/modifier_situation.html' %}

                        {% empty %}
                            {% include 'etatcivil/ajouter_situation.html' %}

                        {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>

      </div>
    </div>
    <!-- FIN DE CONTENU Situation matrimoniale -->

  </div>

</div>

{% endblock %}

{% block javascript %}
    <script>// Gestion des notifications
        {% for message in messages %}
            {% if message.tags == 'success' %}
                var m = "{{ message }}";
                swal("Parfait !",m,"success");  // "success" ou "error" ou "info"

            {% elif message.tags == 'error' %}
                var m = "{{ message }}";
                swal("Erreur !",m,"error");  // "success" ou "error" ou "info"

            {% elif message.tags == 'info' %}
                var m = "{{ message }}";
                swal("Parfait !",m,"info");  // "success" ou "error" ou "info"
            {% endif %}
        {% endfor %}
    </script>
    <script src="{% static 'etatcivil/js/datatable.js' %}"></script>
{% endblock javascript %}