{% extends 'etatcivil/ajouter_niveau.html' %}

{% block modal-id %} id="niveaumodifierModal{{niveau.id}}" {% endblock modal-id %}
{% block modal-label %}niveaumodifierModalLabel{{niveau.id}}{% endblock modal-label %}
{% block modal-label2 %}niveaumodifierModalLabel{{niveau.id}}{% endblock modal-label2 %}
{% block modal-titre %} Modifier un niveau {% endblock modal-titre %}
{% block action %} action="{% url 'etatcivil:modifier_niveau' %}" {% endblock action %}
{% block modifier-id %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input type="text" name="id" class="form-control" value="{{niveau.id}}" readonly >
    </div>
{% endblock modifier-id %}
{% block value-niveau %}value="{{niveau.niveau}}"{% endblock value-niveau %}
{% block btn-action %}<i class="fas fa-pen"></i> Modifier {% endblock btn-action %}