{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'images/logo_chlohe.ico' %}" />

    <!-- BOOTSTRAP LIEN CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- DATATABLES LIEN CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.css"/>

    <!-- CSS DU PROJET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}" />

    <title>{% block titre %}Accueil-IRIS{% endblock %}</title>
</head>
<body>
  <div id ="page">

      {% block nas %}
      <div id ="nav">
        {% include 'nav.html' %}
      </div>
      {% endblock %}

    <div id ="contenu" class="container-fluid">
      {% block contenu %}
      {% endblock %}


    </div>

    <div id ="pied_page">
      {% block pied_page %}
        <div class="row" style="margin: 0px;">
            <div class="col-md-6 offset-md-3">
                <p class="text-center">
                    {% now "Y" as annee %}
                    {% if annee == "2022" %}
                    &copy copyright {{annee}} - Tous droits réservés CHLOHE.
                    {% else %}
                    &copy copyright 2022-{{annee}} - Tous droits réservés CHLOHE.
                    {% endif %}
                </p>
            </div>
        </div>
      {% endblock %}
    </div>

  </div>

  <!-- BOOTSTRAP LIEN JAVASCRIPT-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/6b64521285.js" crossorigin="anonymous"></script>

  <!-- DATATABLES-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.js"></script>

  <!--Recherche avancée des colonnes du tableau -->
  <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.2.4/js/dataTables.fixedHeader.min.js"></script>


  {% block javascript %}
  <script src="{% static 'js/toast.js' %}"></script>
  {% endblock javascript %}

</body>
</html>