<!-- Toast -->
<div aria-live="polite" aria-atomic="true"
     style="position: fixed; min-height: 200px; top: 0; right: 0;" >
    <div class="toast fade" data-delay="500" data-autohide="true" data-animation="true" id="mytoast_success">
        <div class="toast-header text-black" style="background: rgba(0,255,0,0.8);">
            <span class="mr-auto"><i class="fas fa-info-circle"></i> Information</span>
            <button id="btn_ferme_toast_success" type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Enregistrement réussi.
        </div>
    </div>
</div>
<!-- -->

<!-- Toast -->
<div aria-live="polite" aria-atomic="true"
     style="position: fixed; min-height: 200px; top: 0; right: 0;" >
    <div class="toast fade" data-delay="500" data-autohide="true" data-animation="true" id="mytoast_modification">
        <div class="toast-header text-black" style="background: rgba(0,255,0,0.8);">
            <span class="mr-auto"><i class="fas fa-info-circle"></i> Information</span>
            <button id="btn_ferme_toast_modification" type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Modification réussie.
        </div>
    </div>
</div>
<!-- -->

<!-- Toast -->
<div aria-live="polite" aria-atomic="true"
     style="position: fixed; min-height: 200px; top: 0; right: 0;" >
    <div class="toast fade" data-delay="500" data-autohide="true" data-animation="true" id="mytoast_suppression">
        <div class="toast-header text-black" style="background: rgba(0,255,0,0.8);">
            <span class="mr-auto"><i class="fas fa-info-circle"></i> Information</span>
            <button id="btn_ferme_toast_suppression" type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Suppression réussie.
        </div>
    </div>
</div>
<!-- -->